.container {
  max-width: 1100px;
  margin: 0 auto;
  /* In the h1, h2 stuff we add a margin of 10 px top and bot so without overflow: auto there is white space between the top and container */
  overflow: auto;
  padding: 0px 40px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* Need this for align-items to work, 
    The .container has a height but the .grid does not so align-items was trying to align vertically with a height of 0px
    So gotta add a height
  */
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  /* Horizontal offset, vertical offset, blur, colour */
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}

.btn:hover {
  transform: scale(0.98);
}

.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}

.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

.alert {
  background-color: var(--light-color);
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0px;
}

.alert i {
  margin-right: 10px;
}

.alert-success {
  background-color: var(--success-color);
  color: #fff;
}

.alert-error {
  background-color: var(--error-color);
  color: #fff;
}

.my-1 {
  margin: 1rem 0px;
}

.my-2 {
  margin: 2rem 0px;
}

.my-3 {
  margin: 3rem 0px;
}

.my-4 {
  margin: 4rem 0px;
}

.my-5 {
  margin: 5rem 0px;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.py-1 {
  padding: 1rem 0px;
}

.py-2 {
  padding: 2rem 0px;
}

.py-3 {
  padding: 3rem 0px;
}

.py-4 {
  padding: 4rem 0px;
}

.py-5 {
  padding: 5rem 0px;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}
